@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* cores */
    --branco:#fff;
    --marrom:#8E2424;
    --cinza:#667085;
    --preto:#3A404E;
    --preto-sobrenos:#101828;
    --azul-claro:#EAECF0;
    --marrom-fundo:#C3191908;
    --azul-fundo:#F9FAFB;

    /* fontes */
    --inter:"Inter", serif;
}